.App {
  text-align: center;
}

p {
  width: 40%;
  size: 10;
}

.App-header {
  background-color: rgb(236, 236, 236);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.inline-group {
  width: 50%;
  display: inline-block;
}
